*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.product_page{
    margin: 20px;
    display: grid;
    grid-template-columns: 200px auto;
}
.filter{
    height: 100vh;
    /* background-color: blue; */
    border: 2px solid black;
}
.product-box{
   margin: 0 20px;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
}

/* .product{ */
    /* border: 2px solid black; */
    /* height: 300px; */
/* } */

@media screen and (max-width:800px) {
    .product-box{
        grid-template-columns: auto;
    }
}
.product img{
    width: 100%;
}