body{
    margin:0 40px 40px 40px;
    width: 75vw;
    font-family: sans-serif;
}
.aprivacy{
    text-decoration: none;
}

.h1privacy{
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
}

.h2privacy{
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 50px;
    line-height: 1.5;
}

.h3privacy{
    margin: 15px;
    font-size: 30px;
}

p{
    margin: 10px;
    line-height: 1.5;
    font-style: normal;
    text-align: justify;
    margin: 0 0 1.41575em;
}

.ulprivacy{
    margin: 15px;
}

.article1,.article2,.article3,.article4,.article5,.article6,.article7,.article8{
    line-height: 1.5;
    margin: 10px;
}

.navprivacy{
    
    margin:10px ;
}

.liprivacy{
   
    margin-left: 25px;
}

.nav_container{
    margin: 40px;
    font-size: 25px;
}